<mat-toolbar color="primary">
  <span class="is-size-4 has-text-weight-medium">Test</span>
  <span class="spacer"></span>

<!--  TODO: think about mobile view. Is toggler sufficient without tooltip/description? -->
<!--  <a role="button" class="navbar-burger text-white" aria-label="menu" aria-expanded="false">-->
<!--    <span aria-hidden="true"></span>-->
<!--    <span aria-hidden="true"></span>-->
<!--    <span aria-hidden="true"></span>-->
<!--  </a>-->
  <mat-slide-toggle
    matTooltipPosition="before"
    matTooltipClass="is-size-7"
    matTooltip="Change view mode"
    class="icon-slide-toggle"
    color="accent"
  ></mat-slide-toggle>
</mat-toolbar>

<!--  TODO: add in mobile view -->
<!-- <span class="text-white">Change view mode</span> -->
