<app-navbar />

<section class="section has-text-white-ter">
  <div class="tile is-ancestor">
    <div class="tile is-8 p-0 is-parent is-vertical">
      <div class="tile card p-3 is-child has-background-grey-darker has-text-white-ter">
        <div class="columns is-desktop is-flex is-vcentered">
          <div class="column is-one-third-desktop">
            <figure class="image is-256x256">
              <img class="is-rounded is-1by1" width="256" height="256" ngSrc="/assets/me.jpg" alt="picture of me" />
            </figure>
          </div>
          <div class="column">
            <div *ngFor="let item of contactInfo" class="columns is-mobile is-flex is-vcentered">
              <div class="column has-text-centered is-offset-2 is-1"><fa-icon [icon]="item.icon" /></div>
              <div class="column has-text-left-mobile is-5">
                <ng-container *ngIf="item.link">
                  <a class="has-text-white" [href]="item.link">{{ item.display }}</a>
                </ng-container>
                <ng-container *ngIf="!item.link">
                  <span>{{ item.display }}</span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile p-0 is-parent">
        <div class="tile card p-3 box has-background-grey-darker has-text-white-ter is-child">
          <div class="card-content p-2">
            <p class="title is-size-4 mt-0">Skills</p>
            <p *ngFor="let skillInfo of skillsInfo">
              <strong>{{ skillInfo.field }}: </strong>
              <span *ngFor="let skill of skillInfo.skills; last as isLast"
                >{{ skill }}<ng-container *ngIf="!isLast">, </ng-container>
              </span>
            </p>
          </div>
        </div>
        <div class="tile card p-3 box has-background-grey-darker has-text-white-ter is-child">
          <div class="card-content p-2">
            <p class="title is-size-4 mt-0">Education</p>
            <ng-container *ngFor="let education of educationInfo">
              <p class="mb-0">{{ education.university }}</p>
              <small>{{ education.description }}</small>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="tile tile-is-parent">
      <div class="tile card p-3 is-child box has-background-grey-darker has-text-white-ter">
        <div class="card-content p-2">
          <p class="title is-size-4 mt-0">Experience</p>
          <div class="timeline">
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">July 2022 - present</p>
                <p>🇨🇭 Frontend Developer @ Güdel</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">June 2021 - June 2022</p>
                <p>🇵🇱 Frontend Developer @ Boeing</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">August 2020 - Mai 2021</p>
                <p>🇵🇱 Frontend Developer @ Craftware (Roche contractor)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="columns">
    <div class="column is-offset-one-quarter is-half has-text-centered">
      <button class="mx-2 is-size-5-mobile has-text-white-ter mt-2" mat-flat-button
              color="primary"><a href="/assets/Mateusz%20Halada%20CV.pdf">Download CV</a></button>
<!--      <button class="mx-2 is-size-5-mobile has-text-white-ter has-border-white mt-2" mat-stroked-button>-->
<!--        Download print-friendly CV-->
<!--      </button>-->
    </div>
  </div>
</section>
