<app-navbar />

<section class="section has-text-white-ter">
  <div class="tile is-ancestor">
    <div class="tile is-8 p-0 is-parent is-vertical">
      <div class="tile p-3 is-child has-background-grey-darker has-text-white-ter">
        <p>BIO</p>
      </div>
      <div class="tile p-0 is-parent">
        <div class="tile p-3 box has-background-grey-darker has-text-white-ter is-child">
          <p>SKS</p>
        </div>
        <div class="tile p-3 box has-background-grey-darker has-text-white-ter is-child">
          <p>EDD</p>
        </div>
      </div>
    </div>

    <div class="tile tile-is-parent">
      <div class="tile card p-3 is-child box has-background-grey-darker has-text-white-ter">
        <div class="card-content">
          <p class="title is-size-4 mt-0">Experience</p>
          <div class="timeline">
            <!--          <header class="timeline-header">-->
            <!--            <span class="tag is-medium is-primary">Start</span>-->
            <!--          </header>-->
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">July 2022 - present</p>
                <p>Timeline content - Can include any HTML element</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">June 2021 - June 2022</p>
                <p>Timeline content - Can include any HTML element</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">August 2020 - Mai 2021</p>
                <p>Timeline content - Can include any HTML element</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-offset-one-quarter is-half has-text-centered">
      <button class="mx-2 is-size-4-mobile has-text-white-ter mt-2" mat-flat-button color="primary">Download report</button>
      <button class="mx-2 is-size-4-mobile has-text-white-ter has-border-white mt-2" mat-stroked-button>
        Download print-friendly report
      </button>
    </div>
  </div>
</section>
