<app-navbar />

<section class="section has-text-white-ter">
  <div class="tile is-ancestor">
    <div class="tile is-8 p-0 is-parent is-vertical">
      <div class="tile p-3 is-child has-background-grey-darker has-text-white-ter">
        <div class="columns is-desktop is-flex is-vcentered">
          <div class="column is-one-third-desktop">
            <figure class="image is-256x256">
              <img class="is-rounded is-1by1" src="https://placehold.co/256x256" alt="picture of me">
            </figure>
          </div>
          <div class="column">
            <div class="columns is-mobile is-flex is-vcentered">
              <div class="column has-text-centered is-1"> <fa-icon [icon]="icons.phone"/> </div>
              <div class="column has-text-left-mobile"> <span> +41 078 241 13 08</span></div>
            </div>
            <div class="columns is-mobile is-flex is-vcentered">
              <div class="column has-text-centered is-1"> <fa-icon [icon]="icons.mail"/></div>
              <div class="column has-text-left-mobile"> <span> haladamateusz (at) gmail.com</span></div>
            </div>
              <div class="columns is-mobile is-flex is-vcentered">
              <div class="column has-text-centered is-1"> <fa-icon [icon]="icons.github"/></div>
              <div class="column has-text-left-mobile">  <span> /haladamateusz</span></div>
              </div>
                <div class="columns is-mobile is-flex is-vcentered">
              <div class="column has-text-centered  is-1"> <fa-icon [icon]="icons.linkedin"/></div>
              <div class="column has-text-left-mobile">  <span> /in/haladamateusz</span></div>
                </div>
          </div>
        </div>
      </div>
      <div class="tile p-0 is-parent">
        <div class="tile p-3 box has-background-grey-darker has-text-white-ter is-child">
          <p>SKS</p>
        </div>
        <div class="tile p-3 box has-background-grey-darker has-text-white-ter is-child">
          <p>EDD</p>
        </div>
      </div>
    </div>

    <div class="tile tile-is-parent">
      <div class="tile card p-3 is-child box has-background-grey-darker has-text-white-ter">
        <div class="card-content p-2">
          <p class="title is-size-4 mt-0">Experience</p>
          <div class="timeline">
            <!--          <header class="timeline-header">-->
            <!--            <span class="tag is-medium is-primary">Start</span>-->
            <!--          </header>-->
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">July 2022 - present</p>
                <p>Timeline content - Can include any HTML element</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">June 2021 - June 2022</p>
                <p>Timeline content - Can include any HTML element</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-marker"></div>
              <div class="timeline-content">
                <p class="heading mt-0 has-text-weight-medium">August 2020 - Mai 2021</p>
                <p>Timeline content - Can include any HTML element</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column is-offset-one-quarter is-half has-text-centered">
      <button class="mx-2 is-size-5-mobile has-text-white-ter mt-2" mat-flat-button color="primary">Download report</button>
      <button class="mx-2 is-size-5-mobile has-text-white-ter has-border-white mt-2" mat-stroked-button>
        Download print-friendly report
      </button>
    </div>
  </div>
</section>
